/*
* @Author: Gao Yongjian
* @Date:   2018-09-26 16:00:39
* @Last Modified by:   Mo Nanxiao
* @Last Modified time: 2018-09-27 09:11:18
*/
*{
	margin: 0;
	padding:0;
}
li{
 	list-style: none;
}
.boss{
	 position:relative;
	 width: 100%;
	 margin:0px auto;
}
.bigimg{
	 width: 350px;
	 border: 1px solid #ccc;
	 height: 350px;
	 position: relative;
	 margin:0px auto;
}
#mask{
	width: 150px;
	height: 150px;
	background: rgba(255,255,255,0.5);
	position: absolute;
	top: 0;
	left: 0;
	border:1px solid #ccc;
	cursor: pointer;
}
 
.xia{
	 clear:both;
	 margin-top:5px;
	 width:660px;
	 margin:0px auto;
}
.xia .prev{
	 float:left;
	 margin-right:4px;
}
.xia .next{
 	float:right;
}
.xia .prev,.xia .next{
	 display:block;
	 text-align:center;
	 width:10px;
	 height:54px; 
	 line-height:54px;
	 border:1px solid #CCC;
	 background:#EBEBEB;
	 cursor:pointer;
	 text-decoration:none;
}
.xia .items,.xia .items1,.xia .items2,.xia .items3,.xia .items4,.xia .items5,.xia .items6,.xia .items7{
	 float:left;
	 position:relative;
	 width:322px;
	 height:95px;
	 overflow:hidden;
}
.xia .items ul,.xia .items1 ul,.xia .items2 ul,.xia .items3 ul,.xia .items4 ul,.xia .items5 ul,.xia .items6 ul,.xia .items7 ul{
	 position:absolute;
	 height:56px;
}
.xia .items ul li,.xia .items1 ul li,.xia .items2 ul li,.xia .items3 ul li,.xia .items4 ul li,.xia .items5 ul li,.xia .items6 ul li,.xia .items7 ul li{
	 float:left;
	 width:64px;
	 text-align:center;
	 overflow:hidden;
}
 .xia .items ul li img,.xia .items1 ul li img,.xia .items2 ul li img,.xia .items3 ul li img,.xia .items4 ul li img,.xia .items5 ul li img,.xia .items6 ul li img,.xia .items7 ul li img{
	 border:1px solid #CCC;
	 padding:2px;
	 width:50px;
	 height:50px;
}
.xia .items ul li img:hover,.xia .items1 ul li img:hover,.xia .items2 ul li img:hover,.xia .items3 ul li img:hover,.xia .items4 ul li img:hover,.xia .items5 ul li img:hover,.xia .items6 ul li img:hover,.xia .items7 ul li img:hover{
	 border:2px solid #FF6600;
	 padding:1px;
} 